<div class="col-md-12 col-md-offset-3">
	<h3 class="center-align">Registration Form</h3>
	<form name="form" ng-submit="vm.register()" role="form" class="col s12">

		<div class="input-field tooltipped" data-position="bottom" data-delay="50" data-tooltip="Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.">
			<input id="username" type="text" class="validate" ng-model="vm.username" required>
			<label for="username">Username</label>
		</div>

		<div class="input-field">
			<input id="password" type="password" class="validate" ng-model="vm.password" required>
			<label for="password">Password</label>
		</div>

		<div class="input-field">
			<input id="email" type="email" class="validate" ng-model="vm.email" required>
			<label for="email">Email</label>
		</div> 

		<div class="row">
			<div class="input-field col s6">
				<input id="first_name" type="text" class="validate" ng-model="vm.first_name" required>
				<label for="first_name">First Name</label>
			</div>

			<div class="input-field col s6">
				<input id="last_name" type="text" class="validate" ng-model="vm.last_name" required>
				<label for="last_name">Last Name</label>
			</div>
		</div>

		<div class="input-field">
			<input id="phone" type="tel" class="validate" ng-model="vm.phone" required>
			<label for="phone">Telephone #</label>
		</div> 
		<div class="form-actions">
			<div class="row">
				<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn-large waves-effect waves-light green darken-4 col s12 align-center">Register
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>


		<!-- <div class="input-field col s6">
			<input id="last_name" type="text" class="validate" ng-model="vm.last_name" required>
			<label for="last_name">Last Name</label>
		</div>
 -->

	</form>
</div>
