<!-- <b>Hello there</b>
<br><br>
<a href="#/world">World</a> -->
<link rel="stylesheet" href="login/login.css">

<div class="col-md-12 col-md-offset-3">
	<h3 class="center-align">Login</h3>
	<form name="form" ng-submit="vm.login()" role="form" class="col s12">
		<div class="input-field">
			<input id="username" type="text" class="validate" ng-model="vm.username" required>
			<label for="username">Username</label>
		</div>
		<div class="input-field">
			<input id="password" type="password" class="validate" ng-model="vm.password" required>
			<label for="password">Password</label>
		</div>
		<div class="form-actions">
			<div class="row">
				<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn waves-effect waves-light  col s6 amber darken-4">Login
					<i class="material-icons right">send</i>
				</button>
				<a href="#/register" class="waves-effect waves-light btn amber darken-4 col s6">Register
					<i class="material-icons right">assignment_ind</i>
				</a>
			</div>
			<div ng-if="vm.dataLoading" class="progress">
				<!-- <div class="progress"> -->
			      	<div class="indeterminate"></div>
			  	<!-- </div> -->
			</div>
		</div>
		<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>ERROR</h4>
      <p>Invalid username or password</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
	</form>
</div>
