<div class="col-md-12 col-md-offset-3">
	<h3 class="center-align">Make appointment with {{user.first_name}} {{user.last_name}}</h3>
	<form name="form" ng-submit="vm.makeAppt()" role="form" class="col s12">
		
		<div class="input-field">
			<input id="date" type="date" class="datepicker" ng-model="vm.date" required>
			<label for="date">Date</label>
		</div>

		<div class="input-field">
			<input id="time" type="text" class="validate" ng-model="vm.time" required>
			<label for="time">Time</label>
		</div>

		<div class="input-field">
			<input id="location_in" type="text" class="validate" ng-model="vm.location_in" required>
			<label for="location_in">Location</label>
		</div>

		<div class="input-field col s12">
			<textarea id="textarea1" class="materialize-textarea" ng-model="vm.notes" required></textarea>
			<label for="textarea1">Notes</label>
        </div>
        <script type="text/javascript">$('.datepicker').pickadate({
		    selectMonths: true, // Creates a dropdown to control month
		    selectYears: 15, // Creates a dropdown of 15 years to control year
		    formatSubmit: 'yyyy-mm-ddT'
		  });</script>

		<div class="form-actions">
			<div class="row">
				<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn-large waves-effect waves-light amber darken-4 col s12 align-center">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>


	</form>
</div>
